
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="post-title">
    <div class="post-title-container">
        <div class="post-title-content">
            <h1 class="entry-title">James<span style="color: #af6549">Cooking</span></h1>
        </div><!-- .post-title-content -->
    </div><!-- .post-title-container -->
</div>

<div class="site-container">
    <div class="site-content">
        <div id="primary" class="content-area centered">
            <main id="main" class="site-main">
                <article id="post-395" class="entry post-395 page type-page status-publish hentry">
                    <header class="entry-header">
                        <div class="entry-image">
                        </div>
                    </header><!-- .entry-header -->
                    <div class="entry-content page-content single">
                        <div class="tiled-gallery type-rectangular tiled-gallery-unresized" data-original-width="1460" data-carousel-extra='{&quot;blog_id&quot;:1,&quot;permalink&quot;:&quot;https:\/\/healey.sculptureqode.com\/about\/&quot;,&quot;likes_blog_id&quot;:142320030}' itemscope itemtype="http://schema.org/ImageGallery">
                            <div class="gallery-row" style="width: 1460px; height: 853px;" data-original-width="1460" data-original-height="853">
                                <div class="gallery-group images-1" style="width: 794px; height: 853px;" data-original-width="794" data-original-height="853">
                                    <div class="tiled-gallery-item tiled-gallery-item-large" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                        <a border="0" itemprop="url">
                                            <meta itemprop="width" content="790">
                                            <meta itemprop="height" content="849">
                                            <img data-attachment-id="157" data-orig-file="https://healey.sculptureqode.com/wp-content/uploads/2017/02/hrfzpziovyk-stephanie-liverani.jpg" data-orig-size="1339,1440" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="hrfzpziovyk-stephanie-liverani" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/hrfzpziovyk-stephanie-liverani.jpg?fit=279%2C300&#038;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/hrfzpziovyk-stephanie-liverani.jpg?fit=952%2C1024&#038;ssl=1" src="~/image/picture1.jpg" width="790" height="849" data-original-width="790" data-original-height="849" itemprop="http://schema.org/image" title="hrfzpziovyk-stephanie-liverani" alt="hrfzpziovyk-stephanie-liverani" style="width: 790px; height: 849px;" />
                                        </a>
                                    </div>
                                </div> <!-- close group -->
                                <div class="gallery-group images-2" style="width: 666px; height: 853px;" data-original-width="666" data-original-height="853">
                                    <div class="tiled-gallery-item tiled-gallery-item-large" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                        <a href="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?ssl=1" border="0" itemprop="url">
                                            <meta itemprop="width" content="662">
                                            <meta itemprop="height" content="404">
                                            <img data-attachment-id="105" data-orig-file="https://healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg" data-orig-size="1439,878" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Sugar free Pancakes" data-image-description="" data-medium-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?fit=300%2C183&#038;ssl=1" data-large-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?fit=1024%2C625&#038;ssl=1" src="~/image/picture2.jpg" width="662" height="404" data-original-width="662" data-original-height="404" itemprop="http://schema.org/image" title="Sugar free Pancakes" alt="Sugar free Pancakes" style="width: 662px; height: 404px;" />
                                        </a>
                                    </div>
                                    <div class="tiled-gallery-item tiled-gallery-item-large" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                        <a href="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Easy-Crispy-Fries-1.jpg?ssl=1" border="0" itemprop="url">
                                            <meta itemprop="width" content="662">
                                            <meta itemprop="height" content="441">
                                            <img data-attachment-id="73" data-orig-file="https://healey.sculptureqode.com/wp-content/uploads/2017/02/Easy-Crispy-Fries-1.jpg" data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Easy Crispy Fries" data-image-description="" data-medium-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Easy-Crispy-Fries-1.jpg?fit=300%2C200&#038;ssl=1" data-large-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Easy-Crispy-Fries-1.jpg?fit=1024%2C683&#038;ssl=1" src="~/image/picture3.jpg" width="662" height="441" data-original-width="662" data-original-height="441" itemprop="http://schema.org/image" title="Easy Crispy Fries" alt="Easy Crispy Fries" style="width: 662px; height: 441px;" />
                                        </a>
                                    </div>
                                </div> <!-- close group -->
                            </div> <!-- close row -->
                        </div>
                        <h2 style="text-align: center;">A Little About Us</h2>
                        <p class="paragraph ng-attr-widget" style="text-align: center;"><span class="ng-directive ng-binding">Jelly tiramisu sugar plum cake pastry chocolate. Icing bonbon chupa chups apple pie tootsie roll tootsie roll liquorice powder oat cake. Sugar plum apple pie halvah liquorice marzipan apple pie. Bonbon cupcake lollipop macaroon candy. Caramels croissant tiramisu apple pie. Brownie bonbon sugar plum jelly-o chocolate cake jelly-o halvah. Jelly beans sugar plum jelly beans donut cake donut croissant. Croissant muffin icing bear claw sweet.</span></p>
                        <p class="paragraph ng-attr-widget" style="text-align: center;"><span class="ng-directive ng-binding">Candy canes topping chupa chups. Brownie pudding croissant chocolate powder pie ice cream. Lemon drops tiramisu bear claw. Topping chocolate bar macaroon. Cake sweet tootsie roll fruitcake. Cheesecake apple pie fruitcake chupa chups tart oat cake jujubes gummi bears. Bonbon chocolate cake muffin sesame snaps. Cookie carrot cake cake pie gingerbread. Gummi bears lemon drops tart jujubes liquorice sweet roll cheesecake. Soufflé croissant fruitcake sweet roll fruitcake lollipop jelly beans donut. Lemon drops chupa chups cake. Lollipop brownie bonbon bonbon biscuit chupa chups. Fruitcake cookie brownie. Sugar plum croissant pudding sesame snaps pie topping sweet roll sesame snaps fruitcake.</span></p>
                        <blockquote>
                            <p class="paragraph ng-attr-widget">Muffin liquorice muffin candy. Sweet roll fruitcake chocolate bar sweet gummies pudding fruitcake cheesecake bear claw. Tiramisu chocolate bar dragée cookie. Jelly pudding chupa chups sugar plum.</p>
                        </blockquote>
                        <p class="paragraph ng-attr-widget" style="text-align: center;">Jelly beans oat cake jelly-o lemon drops. Soufflé gummi bears tart biscuit muffin pastry macaroon tart. Chupa chups jelly marshmallow danish oat cake dessert chocolate. Lemon drops apple pie cake liquorice candy cake. Carrot cake cotton candy wafer. Ice cream chocolate tootsie roll wafer croissant bear claw. Tootsie roll cake dragée cheesecake icing. Cotton candy chocolate bar tootsie roll dessert cookie soufflé macaroon tart. Biscuit oat cake oat cake oat cake. Caramels marzipan gingerbread ice cream cotton candy soufflé macaroon.</p>
                    </div><!-- .entry-content -->
                </article><!-- #post-## -->
            </main><!-- #main -->
        </div><!-- #primary -->
    </div><!-- #content -->
</div>
<script type="text/javascript" src="~/Home/js/jetpack-carousel.min.js"></script>
<script type="text/javascript" src="~/Home/js/jquery.spin.min.js"></script>
<script type="text/javascript" src="~/Home/js/spin.min.js"></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var jetpackCarouselStrings = { "widths": [370, 700, 1000, 1200, 1400, 2000],  "background_color": "black" };
/* ]]> */
</script>
<script type="text/javascript" src="~/Home/js/tiled-gallery.min.js"></script>
