

@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="post-title">

    <div class="post-title-container">

        <div class="post-title-content">


            <h1 class="entry-title">Contact</h1>


        </div><!-- .post-title-content -->

    </div><!-- .post-title-container -->

</div><!-- .post-title -->


<div class="site-container">

    <div class="site-content">

        <div id="primary" class="content-area">
            <main id="main" class="site-main">



                <article id="post-372" class="entry post-372 page type-page status-publish has-post-thumbnail hentry">

                    <header class="entry-header">

                        <div class="entry-image">
                            <img width="1440" height="1048" src="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?fit=1440%2C1048&amp;ssl=1" class="attachment-healey-post size-healey-post wp-post-image" alt="" srcset="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?w=1440&amp;ssl=1 1440w, https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?resize=300%2C218&amp;ssl=1 300w, https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?resize=768%2C559&amp;ssl=1 768w, https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?resize=1024%2C745&amp;ssl=1 1024w" sizes="(max-width: 1440px) 100vw, 1440px" data-attachment-id="104" data-permalink="https://healey.sculptureqode.com/morning-citrus-muffins-2/" data-orig-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?fit=1440%2C1048&amp;ssl=1" data-orig-size="1440,1048" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Morning Citrus Muffins" data-image-description="" data-medium-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?fit=300%2C218&amp;ssl=1" data-large-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?fit=1024%2C745&amp;ssl=1" />
                        </div>

                    </header><!-- .entry-header -->

                    <div class="entry-content page-content single">

                        <h2>Get In Touch</h2>
                        <p>Icing jelly beans pie lollipop icing. Sesame snaps marshmallow caramels bonbon biscuit cheesecake oat cake fruitcake bonbon. Pudding caramels icing chocolate cake. Chocolate bar tart candy tart biscuit chupa chups. Chocolate bar chupa chups jelly-o chocolate cake sugar plum tiramisu pastry fruitcake jujubes.</p>
                        <div role="form" class="wpcf7" id="wpcf7-f560-p372-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/contact/#wpcf7-f560-p372-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="560" />
                                    <input type="hidden" name="_wpcf7_version" value="5.1.7" />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f560-p372-o1" />
                                    <input type="hidden" name="_wpcf7_container_post" value="372" />
                                </div>
                                <p>
                                    <label>
                                        Your Name (required)<br />
                                        <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" /></span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Your Email (required)<br />
                                        <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" /></span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Subject<br />
                                        <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        Your Message<br />
                                        <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"></textarea></span>
                                    </label>
                                </p>
                                <p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>



                    </div><!-- .entry-content -->

                </article><!-- #post-## -->



            </main><!-- #main -->
        </div><!-- #primary -->



        <aside class="widget-area">
            <div id="healey_about_me_widget-1" class="widget widget_healey_about_me_widget">
                <div class="about-me-widget">

                    <p class="about-me-image">
                        <a href="https://healey.sculptureqode.com/about/">
                            <img src="https://healey.sculptureqode.com/wp-content/uploads/2017/02/hrfzpziovyk-stephanie-liverani.jpg" alt="Meet the Chefs" />
                        </a>
                    </p>



                    <h5 class="about-me-title widget-title">Meet the Chefs</h5>

                    <p class="about-me-bio">We are Tori and Jonah and we are passionate about food and cooking. This is our blog where we share our love for all things food and even showcase some of our favourite home-cooked recipes.</p>



                    <a href="https://healey.sculptureqode.com/about/" class="about-me-link button">Find out more</a>

                </div>

            </div><div id="healey_recent_posts-1" class="widget widget_healey_recent_posts">
                <h5 class="widget-title">Latest Recipes</h5>
                <ul class="recent-posts">



                    <li class="recent-post post-108 post type-post status-publish format-standard has-post-thumbnail hentry category-lunches tag-greens tag-light tag-nuts tag-pasta">


                        <div class="recent-post-thumbnail">
                            <a href="https://healey.sculptureqode.com/almond-and-rocket-pasta/"><img width="120" height="100" src="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?resize=120%2C100&amp;ssl=1" class="attachment-healey-post-recent size-healey-post-recent wp-post-image" alt="" srcset="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?resize=120%2C100&amp;ssl=1 120w, https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?zoom=2&amp;resize=120%2C100&amp;ssl=1 240w, https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?zoom=3&amp;resize=120%2C100&amp;ssl=1 360w" sizes="(max-width: 120px) 100vw, 120px" data-attachment-id="71" data-permalink="https://healey.sculptureqode.com/almond-and-rocket-pasta/" data-orig-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?fit=1440%2C960&amp;ssl=1" data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Almond and rocket pasta" data-image-description="" data-medium-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                        </div><!-- .healey-latest-post-image -->


                        <div class="recent-post-content">
                            <h6 class="recent-post-title"><a href="https://healey.sculptureqode.com/almond-and-rocket-pasta/" title="Almond and Rocket Pasta">Almond and Rocket Pasta</a></h6>
                            <span class="recent-post-meta">February 10, 2017</span>
                        </div><!-- .healey-latest-post-content -->

                    </li>


                    <li class="recent-post post-113 post type-post status-publish format-standard has-post-thumbnail hentry category-dinners tag-lamb tag-potato tag-vegetables">


                        <div class="recent-post-thumbnail">
                            <a href="https://healey.sculptureqode.com/succulent-lancashire-lamb-hotpot/"><img width="120" height="100" src="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?resize=120%2C100&amp;ssl=1" class="attachment-healey-post-recent size-healey-post-recent wp-post-image" alt="" srcset="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?resize=120%2C100&amp;ssl=1 120w, https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?zoom=2&amp;resize=120%2C100&amp;ssl=1 240w, https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?zoom=3&amp;resize=120%2C100&amp;ssl=1 360w" sizes="(max-width: 120px) 100vw, 120px" data-attachment-id="62" data-permalink="https://healey.sculptureqode.com/succulent-lancashire-lamb-hotpot/" data-orig-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?fit=1440%2C960&amp;ssl=1" data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Succulent lancashire lamb hotpot" data-image-description="" data-medium-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                        </div><!-- .healey-latest-post-image -->


                        <div class="recent-post-content">
                            <h6 class="recent-post-title"><a href="https://healey.sculptureqode.com/succulent-lancashire-lamb-hotpot/" title="Succulent Lancashire Lamb Hotpot">Succulent Lancashire Lamb Hotpot</a></h6>
                            <span class="recent-post-meta">February 10, 2017</span>
                        </div><!-- .healey-latest-post-content -->

                    </li>


                    <li class="recent-post post-45 post type-post status-publish format-standard has-post-thumbnail hentry category-lunches tag-fish tag-fresh tag-salad">


                        <div class="recent-post-thumbnail">
                            <a href="https://healey.sculptureqode.com/easy-crispy-fries/"><img width="120" height="100" src="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?resize=120%2C100&amp;ssl=1" class="attachment-healey-post-recent size-healey-post-recent wp-post-image" alt="" srcset="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?resize=120%2C100&amp;ssl=1 120w, https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?zoom=2&amp;resize=120%2C100&amp;ssl=1 240w, https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?zoom=3&amp;resize=120%2C100&amp;ssl=1 360w" sizes="(max-width: 120px) 100vw, 120px" data-attachment-id="202" data-permalink="https://healey.sculptureqode.com/easy-crispy-fries/mackerel-salad-2/" data-orig-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?fit=1460%2C1114&amp;ssl=1" data-orig-size="1460,1114" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="mackerel-salad" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?fit=300%2C229&amp;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?fit=1024%2C781&amp;ssl=1" /></a>
                        </div><!-- .healey-latest-post-image -->


                        <div class="recent-post-content">
                            <h6 class="recent-post-title"><a href="https://healey.sculptureqode.com/easy-crispy-fries/" title="Easy Mackerel Salad">Easy Mackerel Salad</a></h6>
                            <span class="recent-post-meta">February 10, 2017</span>
                        </div><!-- .healey-latest-post-content -->

                    </li>


                    <li class="recent-post post-111 post type-post status-publish format-standard has-post-thumbnail hentry category-dinners tag-pastry tag-tart tag-tomato">


                        <div class="recent-post-thumbnail">
                            <a href="https://healey.sculptureqode.com/tomato-and-basil-tart/"><img width="120" height="100" src="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?resize=120%2C100&amp;ssl=1" class="attachment-healey-post-recent size-healey-post-recent wp-post-image" alt="" srcset="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?resize=120%2C100&amp;ssl=1 120w, https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?zoom=2&amp;resize=120%2C100&amp;ssl=1 240w, https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?zoom=3&amp;resize=120%2C100&amp;ssl=1 360w" sizes="(max-width: 120px) 100vw, 120px" data-attachment-id="63" data-permalink="https://healey.sculptureqode.com/tomato-and-basil-tart/" data-orig-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?fit=1440%2C1080&amp;ssl=1" data-orig-size="1440,1080" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Tomato and basil tart" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?fit=300%2C225&amp;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?fit=1024%2C768&amp;ssl=1" /></a>
                        </div><!-- .healey-latest-post-image -->


                        <div class="recent-post-content">
                            <h6 class="recent-post-title"><a href="https://healey.sculptureqode.com/tomato-and-basil-tart/" title="Tomato and Basil Tart">Tomato and Basil Tart</a></h6>
                            <span class="recent-post-meta">February 10, 2017</span>
                        </div><!-- .healey-latest-post-content -->

                    </li>


                </ul>

            </div><div id="healey_social_buttons-1" class="widget widget_healey_social_buttons">
                <h5 class="widget-title">Follow</h5>

                <ul class="social-buttons">
                    <li><a href="https://www.bloglovin.com" target="_blank"><i class="fa fa-heart"></i></a></li>
                    <li><a href="https://www.facebook.com/sculptureqode/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/sculptureqode/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.pinterest.co.uk/sculptureqode" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/sculptureqode" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://vimeo.com/sculptureqode" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
                </ul>

            </div><div id="null-instagram-feed-1" class="widget null-instagram-feed"><h5 class="widget-title">Instagram</h5>Instagram did not return a 200.</div><div id="mc4wp_form_widget-1" class="widget widget_mc4wp_form_widget">
                <h5 class="widget-title">Newsletter</h5>
                <script>
                    (function () {
                        window.mc4wp = window.mc4wp || {
                            listeners: [],
                            forms: {
                                on: function (evt, cb) {
                                    window.mc4wp.listeners.push(
                                        {
                                            event: evt,
                                            callback: cb
                                        }
                                    );
                                }
                            }
                        }
                    })();
                </script><!-- Mailchimp for WordPress v4.7.7 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-557" method="post" data-id="557" data-name="Demo">
                    <div class="mc4wp-form-fields">
                        <p>
                            Never miss a recipe! Signup to our newsletter and have recipes delivered directly to your inbox.
                        </p>

                        <p>
                            <label>Email address: </label>
                            <input type="email" name="EMAIL" required />
                        </p>

                        <p>
                            <input type="submit" value="Sign up" />
                        </p>
                    </div><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1623985611" /><input type="hidden" name="_mc4wp_form_id" value="557" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" /><div class="mc4wp-response"></div>
                </form><!-- / Mailchimp for WordPress Plugin -->
            </div><div id="categories-1" class="widget widget_categories">
                <h5 class="widget-title">Categories</h5>		<ul>
                    <li class="cat-item cat-item-2">
                        <a href="https://healey.sculptureqode.com/category/beverages/">Beverages</a>
                    </li>
                    <li class="cat-item cat-item-3">
                        <a href="https://healey.sculptureqode.com/category/breakfasts/">Breakfasts</a>
                    </li>
                    <li class="cat-item cat-item-4">
                        <a href="https://healey.sculptureqode.com/category/desserts/">Desserts</a>
                    </li>
                    <li class="cat-item cat-item-5">
                        <a href="https://healey.sculptureqode.com/category/dinners/">Dinners</a>
                    </li>
                    <li class="cat-item cat-item-6">
                        <a href="https://healey.sculptureqode.com/category/lunches/">Lunches</a>
                    </li>
                </ul>
            </div>
        </aside><!-- #secondary -->


    </div><!-- #content -->

</div>