@{
    ViewData["Title"] = "recipefull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="post-title">

    <div class="post-title-container">

        <div class="post-title-content">


            <h1 class="entry-title">Recipe Index Full Width</h1>


        </div><!-- .post-title-content -->

    </div><!-- .post-title-container -->

</div><!-- .post-title -->


<div class="site-container">

    <div class="site-content">

        <div id="primary" class="content-area full-width">
            <main id="main" class="site-main">



                <article id="post-415" class="entry post-415 page type-page status-publish hentry">

                    <header class="entry-header">

                        <div class="entry-image">
                        </div>

                    </header><!-- .entry-header -->

                    <div class="entry-content page-content single">




                        <section class="category-index">

                            <div class="category-index-title">

                                <h2>Breakfasts</h2>

                                <a href="https://healey.sculptureqode.com/category/breakfasts/" class="view-all">View all</a>

                            </div>

                            <div class="category-index-content">


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/sugar-free-pancakes/"><img width="732" height="492" src="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="105" data-permalink="https://healey.sculptureqode.com/sugar-free-pancakes/" data-orig-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?fit=1439%2C878&amp;ssl=1" data-orig-size="1439,878" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Sugar free Pancakes" data-image-description="" data-medium-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?fit=300%2C183&amp;ssl=1" data-large-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?fit=1024%2C625&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/sugar-free-pancakes/" title="Sugar Free Pancakes">Sugar Free Pancakes</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/hearty-oats-and-grain/"><img width="732" height="492" src="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/i2eyyfetfwc-federica-diliberto.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" srcset="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/i2eyyfetfwc-federica-diliberto.jpg?resize=732%2C492&amp;ssl=1 732w, https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/i2eyyfetfwc-federica-diliberto.jpg?zoom=2&amp;resize=732%2C492&amp;ssl=1 1464w" sizes="(max-width: 732px) 100vw, 732px" data-attachment-id="268" data-permalink="https://healey.sculptureqode.com/hearty-oats-and-grain/i2eyyfetfwc-federica-diliberto/" data-orig-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/i2eyyfetfwc-federica-diliberto.jpg?fit=1500%2C1037&amp;ssl=1" data-orig-size="1500,1037" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="i2eyyfetfwc-federica-diliberto" data-image-description="" data-medium-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/i2eyyfetfwc-federica-diliberto.jpg?fit=300%2C207&amp;ssl=1" data-large-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/i2eyyfetfwc-federica-diliberto.jpg?fit=1024%2C708&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/hearty-oats-and-grain/" title="Hearty Oats and Grain">Hearty Oats and Grain</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/morning-citrus-muffins/"><img width="732" height="492" src="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="104" data-permalink="https://healey.sculptureqode.com/morning-citrus-muffins-2/" data-orig-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?fit=1440%2C1048&amp;ssl=1" data-orig-size="1440,1048" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Morning Citrus Muffins" data-image-description="" data-medium-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?fit=300%2C218&amp;ssl=1" data-large-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Morning-Citrus-Muffins-e1486751742224.jpg?fit=1024%2C745&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/morning-citrus-muffins/" title="Morning Citrus Muffins">Morning Citrus Muffins</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/freshly-baked-croissants/"><img width="732" height="492" src="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Freshly-baked-Croissants-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="106" data-permalink="https://healey.sculptureqode.com/freshly-baked-croissants-2/" data-orig-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Freshly-baked-Croissants-1.jpg?fit=1440%2C960&amp;ssl=1" data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Freshly baked Croissants" data-image-description="" data-medium-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Freshly-baked-Croissants-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Freshly-baked-Croissants-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/freshly-baked-croissants/" title="Freshly Baked Croissants">Freshly Baked Croissants</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                            </div>



                        </section><!-- .index -->






                        <section class="category-index">

                            <div class="category-index-title">

                                <h2>Lunches</h2>

                                <a href="https://healey.sculptureqode.com/category/lunches/" class="view-all">View all</a>

                            </div>

                            <div class="category-index-content">


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/almond-and-rocket-pasta/"><img width="732" height="492" src="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="71" data-permalink="https://healey.sculptureqode.com/almond-and-rocket-pasta/" data-orig-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?fit=1440%2C960&amp;ssl=1" data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Almond and rocket pasta" data-image-description="" data-medium-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Almond-and-rocket-pasta-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/almond-and-rocket-pasta/" title="Almond and Rocket Pasta">Almond and Rocket Pasta</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/easy-crispy-fries/"><img width="732" height="492" src="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="202" data-permalink="https://healey.sculptureqode.com/easy-crispy-fries/mackerel-salad-2/" data-orig-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?fit=1460%2C1114&amp;ssl=1" data-orig-size="1460,1114" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="mackerel-salad" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?fit=300%2C229&amp;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/mackerel-salad-1.jpg?fit=1024%2C781&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/easy-crispy-fries/" title="Easy Mackerel Salad">Easy Mackerel Salad</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/ultimate-meaty-sandwich/"><img width="732" height="492" src="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Ultimate-meaty-sandwich-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="70" data-permalink="https://healey.sculptureqode.com/ultimate-meaty-sandwich/" data-orig-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Ultimate-meaty-sandwich-1.jpg?fit=1440%2C1154&amp;ssl=1" data-orig-size="1440,1154" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Ultimate meaty sandwich" data-image-description="" data-medium-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Ultimate-meaty-sandwich-1.jpg?fit=300%2C240&amp;ssl=1" data-large-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Ultimate-meaty-sandwich-1.jpg?fit=1024%2C821&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/ultimate-meaty-sandwich/" title="Ultimate Meaty Sandwich">Ultimate Meaty Sandwich</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/everyday-vegetable-quiche/"><img width="732" height="492" src="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Everyday-Vegetable-Quiche-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="69" data-permalink="https://healey.sculptureqode.com/everyday-vegetable-quiche/" data-orig-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Everyday-Vegetable-Quiche-1.jpg?fit=1440%2C961&amp;ssl=1" data-orig-size="1440,961" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Everyday Vegetable Quiche" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Everyday-Vegetable-Quiche-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Everyday-Vegetable-Quiche-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/everyday-vegetable-quiche/" title="Everyday Vegetable Quiche">Everyday Vegetable Quiche</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                            </div>



                        </section><!-- .index -->






                        <section class="category-index">

                            <div class="category-index-title">

                                <h2>Dinners</h2>

                                <a href="https://healey.sculptureqode.com/category/dinners/" class="view-all">View all</a>

                            </div>

                            <div class="category-index-content">


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/succulent-lancashire-lamb-hotpot/"><img width="732" height="492" src="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="62" data-permalink="https://healey.sculptureqode.com/succulent-lancashire-lamb-hotpot/" data-orig-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?fit=1440%2C960&amp;ssl=1" data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Succulent lancashire lamb hotpot" data-image-description="" data-medium-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Succulent-lancashire-lamb-hotpot-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/succulent-lancashire-lamb-hotpot/" title="Succulent Lancashire Lamb Hotpot">Succulent Lancashire Lamb Hotpot</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/tomato-and-basil-tart/"><img width="732" height="492" src="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="63" data-permalink="https://healey.sculptureqode.com/tomato-and-basil-tart/" data-orig-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?fit=1440%2C1080&amp;ssl=1" data-orig-size="1440,1080" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Tomato and basil tart" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?fit=300%2C225&amp;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Tomato-and-basil-tart-1.jpg?fit=1024%2C768&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/tomato-and-basil-tart/" title="Tomato and Basil Tart">Tomato and Basil Tart</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/chilli-beef-gratin/"><img width="732" height="492" src="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Chilli-beef-Gratan-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="61" data-permalink="https://healey.sculptureqode.com/chilli-beef-gratan/" data-orig-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Chilli-beef-Gratan-1.jpg?fit=1440%2C960&amp;ssl=1" data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Chilli beef Gratan" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Chilli-beef-Gratan-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Chilli-beef-Gratan-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/chilli-beef-gratin/" title="Chilli Beef Gratin">Chilli Beef Gratin</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/creamy-white-fish/"><img width="732" height="492" src="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/xvlayq3swki-federica-diliberto.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" srcset="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/xvlayq3swki-federica-diliberto.jpg?resize=732%2C492&amp;ssl=1 732w, https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/xvlayq3swki-federica-diliberto.jpg?zoom=2&amp;resize=732%2C492&amp;ssl=1 1464w" sizes="(max-width: 732px) 100vw, 732px" data-attachment-id="270" data-permalink="https://healey.sculptureqode.com/creamy-white-fish/xvlayq3swki-federica-diliberto/" data-orig-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/xvlayq3swki-federica-diliberto.jpg?fit=1501%2C1125&amp;ssl=1" data-orig-size="1501,1125" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="xvlayq3swki-federica-diliberto" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/xvlayq3swki-federica-diliberto.jpg?fit=300%2C225&amp;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/xvlayq3swki-federica-diliberto.jpg?fit=1024%2C767&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/creamy-white-fish/" title="Zingy King Prawn Stir Fry">Zingy King Prawn Stir Fry</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                            </div>



                        </section><!-- .index -->






                        <section class="category-index">

                            <div class="category-index-title">

                                <h2>Desserts</h2>

                                <a href="https://healey.sculptureqode.com/category/desserts/" class="view-all">View all</a>

                            </div>

                            <div class="category-index-content">


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/sugar-free-pancakes/"><img width="732" height="492" src="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="105" data-permalink="https://healey.sculptureqode.com/sugar-free-pancakes/" data-orig-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?fit=1439%2C878&amp;ssl=1" data-orig-size="1439,878" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Sugar free Pancakes" data-image-description="" data-medium-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?fit=300%2C183&amp;ssl=1" data-large-file="https://i0.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Sugar-free-Pancakes-e1486754103938.jpg?fit=1024%2C625&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/sugar-free-pancakes/" title="Sugar Free Pancakes">Sugar Free Pancakes</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/gorgeous-pecan-brownie/"><img width="732" height="492" src="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Gorgeous-pecan-brownie2-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="90" data-permalink="https://healey.sculptureqode.com/gorgeous-pecan-brownie2/" data-orig-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Gorgeous-pecan-brownie2-1.jpg?fit=1440%2C961&amp;ssl=1" data-orig-size="1440,961" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Gorgeous pecan brownie2" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Gorgeous-pecan-brownie2-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Gorgeous-pecan-brownie2-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/gorgeous-pecan-brownie/" title="Gorgeous Pecan Brownie">Gorgeous Pecan Brownie</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/a-very-berry-surprise/"><img width="732" height="492" src="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/A-Very-Berry-Surprise-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="80" data-permalink="https://healey.sculptureqode.com/a-very-berry-surprise/" data-orig-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/A-Very-Berry-Surprise-1.jpg?fit=1440%2C960&amp;ssl=1" data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="A Very Berry Surprise" data-image-description="" data-medium-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/A-Very-Berry-Surprise-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i2.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/A-Very-Berry-Surprise-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/a-very-berry-surprise/" title="A Very Berry Surprise">A Very Berry Surprise</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                                <article class="category-index-item column-4 entry">

                                    <div class="entry-image">
                                        <a href="https://healey.sculptureqode.com/traditional-new-york-cheescake/"><img width="732" height="492" src="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Traditional-New-York-Cheescake-1.jpg?resize=732%2C492&amp;ssl=1" class="attachment-healey-post-grid size-healey-post-grid wp-post-image" alt="" data-attachment-id="79" data-permalink="https://healey.sculptureqode.com/traditional-new-york-cheescake-2/" data-orig-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Traditional-New-York-Cheescake-1.jpg?fit=1440%2C960&amp;ssl=1" data-orig-size="1440,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="Traditional New York Cheescake" data-image-description="" data-medium-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Traditional-New-York-Cheescake-1.jpg?fit=300%2C200&amp;ssl=1" data-large-file="https://i1.wp.com/healey.sculptureqode.com/wp-content/uploads/2017/02/Traditional-New-York-Cheescake-1.jpg?fit=1024%2C683&amp;ssl=1" /></a>
                                    </div>

                                    <h5 class="entry-title"><a href="https://healey.sculptureqode.com/traditional-new-york-cheescake/" title="Traditional New York Cheescake">Traditional New York Cheescake</a></h5>

                                    <div class="entry-meta">
                                        February 10, 2017
                                    </div><!-- .entry-meta -->

                                </article>


                            </div>



                        </section><!-- .index -->






                    </div><!-- .entry-content -->

                </article><!-- #post-## -->



            </main><!-- #main -->
        </div><!-- #primary -->


    </div><!-- #content -->

</div>